{:deps    {re-frame      {:mvn/version "0.12.0"}
           reagent       {:mvn/version "0.10.0" :exclusions [cljsjs/react-dom-server cljsjs/react-dom cljsjs/react]}
           fork          {:git/url "https://github.com/luciodale/fork.git"
                          :sha     "25276c05ff42956486381486cd54865ecd9920e8"}
           metosin/malli {:git/url "https://github.com/metosin/malli.git"
                          :sha     "679ca7780f2e36e427885e2343772369e048598e"}}
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps  {binaryage/devtools   {:mvn/version "1.0.2"} ; automatically added as a pre-load by shadow-cljs https://shadow-cljs.github.io/docs/UsersGuide.html#_preloads
                               devcards             {:mvn/version "0.2.7" :exclusions [cljsjs/create-react-class]}
                               thheller/shadow-cljs {:mvn/version "2.9.10"}}}}}