{:deps   true

 :nrepl  {:port 8500}                                       ; avoid conflicts

 :builds {:devcards {:target           :browser

                     :output-dir       "public/devcards-js"
                     :asset-path       "/devcards-js"

                     :compiler-options {:devcards true}

                     :js-options       {:resolve {"devcards-marked"             {:target :npm :require "marked"}
                                                  "devcards-syntax-highlighter" {:target :npm :require "syntax-highlighter"}}}

                     :modules          {:main {:init-fn devcards/init}}
                     :devtools         {:http-root "public"
                                        :http-port 8001}}}}
